.headermini{
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.headermini > a{
  text-decoration: none;
  color: black;

}
.headermini>a:active{
  border-bottom: 1px solid #d23166;
}